openapi: 3.0.0
info:
  title: broker_app
  version: v1
  description: "Use the url by clicking the Mock url CTA.\n\nexample for login users:\n\ncurl --request POST \\\n  --url https://stoplight.io/p/mocks/12076/66030/login \\\n  --header 'content-type: application/json' \\\n  --data '{\"email\":\"test@email.com\",\"password\":\"password\"}'\n"
servers:
  - url: 'https://services.utelly.com/broker_app/v1'
    description: prod
  - url: 'https://staging-services.utelly.com/broker_app/v1'
    description: staging
  - url: 'https://dev-services.utelly.com/broker_app/v1'
    description: dev
paths:
  /login:
    post:
      summary: User Login
      operationId: v1.user.login
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  access_token:
                    type: string
                  refresh_token:
                    type: string
                required:
                  - id
                  - access_token
                  - refresh_token
              examples:
                '1':
                  value:
                    id: 9b38b54dd74644db96e772d6076615da
                    access_token: 9b38b54dd74644db96e772d6076615da
                    refresh_token: f9a664c1ba3f4665aa902ded47edaca9
                    roles:
                      - perspective_id: '1'
                        module_id: '1'
                        environment_id: '1'
                        permission: read
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
              required:
                - email
                - password
            examples:
              '1':
                value:
                  email: hello@utelly.com
                  password: 3@Ubc1iCYZUKGtAi
      tags:
        - User Management
  /refresh_jwt_access_token:
    post:
      summary: Refresh JWT access_token
      operationId: v1.user.refresh_jwt_access_token
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                required:
                  - access_token
              examples:
                '1':
                  value:
                    access_token: f9a664c1ba3f4665aa902ded47edaca9
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                refresh_token:
                  type: string
              required:
                - refresh_token
            examples:
              '1':
                value:
                  refresh_token: cc53ca4aaf294c489a29c1515cb1f1b3
      description: ''
      tags:
        - User Management
    parameters: []
  /register:
    post:
      summary: User Register
      operationId: v1.user.register
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  access_token:
                    type: string
                  refresh_token:
                    type: string
                required:
                  - id
                  - access_token
                  - refresh_token
              examples:
                '1':
                  value:
                    id: 9b38b54dd74644db96e772d6076615da
                    access_token: 9b38b54dd74644db96e772d6076615da
                    refresh_token: f9a664c1ba3f4665aa902ded47edaca9
                    roles:
                      - perspective_id: '1'
                        module_id: '1'
                        environment_id: '1'
                        permission: read
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                last_name:
                  type: string
                email:
                  type: string
                registration_token:
                  type: string
                password:
                  type: string
                password_confirm:
                  type: string
                destination_url_template:
                  type: string
              required:
                - first_name
                - last_name
                - email
                - registration_token
                - password
                - password_confirm
                - destination_url_template
            examples:
              '1':
                value:
                  first_name: Keizer
                  last_name: Söze
                  email: keizer@email.com
                  registration_token: 55a68d8af89b4a29a453c9a21b37445f
                  password: password
                  password_confirm: password
                  destination_url_template: 'https://mydomain.com/confirm?user_id={user_id}&code={code}'
      tags:
        - User Management
  /forgot_password:
    post:
      summary: Forgot password
      operationId: v1.user.forgot_password
      responses:
        '200':
          description: OK
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                destination_url_template:
                  type: string
              required:
                - email
                - destination_url_template
            examples:
              '1':
                value:
                  email: keiser@email.com
                  destination_url_template: 'https://mydomain.com/forgot_password_page?email={email}&token={token}'
      description: sends an email with a authentication token
      tags:
        - User Management
  /forgot_password_confirm:
    post:
      summary: Forgot password confirm
      operationId: v1.user.forgot_password_confirm
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                token:
                  type: string
                password:
                  type: string
                password_confirm:
                  type: string
              required:
                - email
                - token
                - password
                - password_confirm
            examples:
              '1':
                value:
                  email: keiser@email.com
                  token: 1e5b4fa91553455aa3e3e1b33928a6cd
                  password: password
                  password_config: password
      responses:
        '200':
          description: OK
      tags:
        - User Management
  /confirm:
    post:
      summary: Confirm email
      operationId: v1.user.confirm
      responses:
        '200':
          description: OK
      description: validates user email
      parameters:
        - schema:
            type: string
          in: query
          name: user_id
        - schema:
            type: string
          in: query
          name: code
      tags:
        - User Management
  /user/preferences:
    parameters: []
    get:
      summary: ''
      operationId: get-user-user_id-preferences
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  values:
                    type: array
                    items:
                      $ref: ../models/i18n_field.v1.yaml
              examples:
                '1':
                  value:
                    values:
                      - key: name
                        value: keiser
      security:
        - Authorization: []
  /ui/layout:
    parameters: []
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  layout:
                    type: array
                    items:
                      type: object
                      properties:
                        environment:
                          $ref: ../models/Environment.v1.yaml
                        perspectives:
                          type: array
                          items:
                            type: object
                            properties:
                              perspective:
                                $ref: ../models/Perspective.v1.yaml
                              views:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    view:
                                      $ref: ../models/View.v1.yaml
                                    permission:
                                      type: string
                                      enum:
                                        - read
                                        - write
              examples:
                '1':
                  value:
                    layout:
                      environment:
                        id: '1'
                        name:
                          - locale: en
                            value: development
                          - locale: nl
                            value: ontwikkeling
                        description:
                          - locale: en
                            value: use and make things to break them
                        tooltip:
                          - locale: en
                            value: this environment gets refreshed daily
                      perspectives:
                        - perspective:
                            id: '1'
                            name:
                              - locale: en
                                value: architect
                              - locale: nl
                                value: ontwerp
                            description:
                              - locale: en
                                value: this is where you wire things up
                            tooltip:
                              - locale: en
                                value: 'In this view, we can orchestrate how things are connected'
                          views:
                            - view:
                                id: '1'
                                name:
                                  - locale: en
                                    value: Overview
                                resource: data_flows
                                renderer: df_overview
                                description:
                                  - locale: en
                                    value: ''
                                tooltip:
                                  - locale: en
                                    value: ''
                                perspectives_id:
                                  - '1'
                              permission: read
      operationId: v1.ui.get_layout
      security:
        - Authorization: []
      description: ''
components:
  schemas: {}
  securitySchemes:
    Authorization:
      name: Authorization
      type: apiKey
      in: header
