components:
  schemas: {}
  securitySchemes:
    Authorization:
      in: header
      name: Authorization
      type: apiKey
info:
  contact:
    email: developers@utelly.com
    name: API Support
  title: configuration_manager
  version: v1
openapi: 3.0.0
paths:
  /configurations:
    get:
      description: ''
      operationId: v1.configuration.get
      parameters:
      - in: query
        name: type
        required: true
        schema:
          type: string
      - in: query
        name: identifier
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                '1':
                  value:
                    example: example configuration
              schema:
                properties: {}
                type: object
          description: OK
      summary: Get Configurations
      tags:
      - Configuration Management
    post:
      description: ''
      operationId: v1.configuration.post
      requestBody:
        content:
          application/json:
            examples:
              '1':
                value:
                  config:
                    SHERLOCK_READ_INDEX: sherlock_iva_iva_read
                    default_size: 20
                    depth: '2'
                    display_name: LG Demo
                    enrichments: []
                    entities:
                    - topic
                    - genre
                    - mood
                    - actor
                    - director
                    grouping: entity
                    ids_fields:
                    - source_id
                    languages:
                    - en
                    options:
                    - phonetic
                    - qualifiers
                    - rest
                    source: iva_iva
                  identifier: null
                  type: sherlockConfig
            schema:
              additionalProperties: false
              properties:
                config:
                  type: object
                identifier:
                  oneOf:
                  - nullable: true
                    type: string
                type:
                  type: string
              type: object
      responses:
        '200':
          description: OK
      summary: Create Config
      tags:
      - Configuration Management
servers:
- description: prod
  url: https://services.utelly.com/configuration_manager/v1
- description: staging
  url: https://staging-services.utelly.com/configuration_manager/v1
- description: dev
  url: https://dev-services.utelly.com/configuration_manager/v1
tags:
- name: utelly_services
