openapi: 3.1.0
info:
  title: dataset_manager
  version: v1
servers:
  - url: 'https://services.utelly.com/dataset_manager/v1'
    description: prod
  - url: 'https://staging-services.utelly.com/dataset_manager/v1'
    description: staging
  - url: 'https://dev-services.utelly.com/dataset_manager/v1'
    description: dev
paths:
  /datasets:
    get:
      summary: Get available datasets
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: ''
                minItems: 1
                uniqueItems: true
                x-examples:
                  example-1:
                    - config:
                        dataset: merged_stv_test
                      identifier: 831f5be33f327dca3c16dad5d78e5848
                      name: stv_merged_related_test
                      type: clientConfig
                    - config:
                        dataset: test_discover_test_discover
                      identifier: ce7f925e4ac742c186136aa428b86aea
                      name: test_discover_test_discover
                      type: clientConfig
                    - config:
                        dataset: merged_gracenote1
                      identifier: c4ea5409f0de4583821f0ae7906a80ff
                      name: Backend test
                      products:
                        - config:
                            url_rules:
                              - regex: /browse_manager/*
                                rule: allow
                                verb: ALL
                              - regex: /browse_manager/*/related
                                rule: deny
                                verb: ALL
                          id: 2CBHHpoYLUl27OpoE7NrKt
                          name: browse
                          type: product
                        - config:
                            url_rules:
                              - regex: /browse_manager/*/related
                                rule: allow
                                verb: ALL
                          id: 1kKNDAtX5oauDrBr1vaPu1
                          name: related
                          type: product
                        - config:
                            url_rules:
                              - regex: /sherlock_manager/*
                                rule: allow
                                verb: ALL
                          id: 56nUcxETSLWH914FrKJfZc
                          name: sherlock
                          type: product
                      type: clientConfig
                    - config:
                        role:
                          - admin
                      identifier: 19602c7297a848d782e6221fbf4c9d2c
                      name: admin_key
                      products:
                        - config:
                            url_rules:
                              - regex: '*'
                                rule: allow
                                verb: ALL
                          id: 29gCT3R3T8hVUQLUgQmKzV
                          name: all_access
                          type: product
                      type: clientConfig
                    - config:
                        dataset: merged_telenet
                      identifier: 2d89a757f2434bffb45aefc2f69aad24
                      name: merged_telenet
                      type: clientConfig
                    - config:
                        dataset: extended_telenet
                      identifier: ff63f96ff7c443748b327cd5badc8e95
                      name: extended_telenet
                      type: clientConfig
                    - config:
                        dataset: matched_telenet
                      identifier: 2ffae16fd9d747bfaa7320c35d217b80
                      name: matched_telenet
                      type: clientConfig
                    - config:
                        dataset: katchmedia_us
                      identifier: 9e0356bb224d413fa515bf4326d46055
                      name: katchmedia_us
                      type: clientConfig
                    - config:
                        dataset: merged_stv
                      identifier: 115bb7dac30c46ebbccde4f1bcd68049
                      name: merged_stv
                      type: clientConfig
                    - config:
                        dataset: merged_almamedia
                      identifier: eed5d54cb4f7417bb8b6213d135a353b
                      name: merged_almamedia
                      type: clientConfig
                    - config:
                        dataset: iva_iva
                      identifier: 21f29804e4534816be87ea067f263b04
                      name: iva_iva
                      type: clientConfig
                    - config:
                        dataset: netgem_fr
                      identifier: bd229114b2a343b6bc0020e95a51126d
                      name: netgem_fr
                      type: clientConfig
                    - config:
                        dataset: netgem_ie
                      identifier: 77808a74c1724976bb35b9f3fde393e7
                      name: netgem_ie
                      type: clientConfig
                    - config:
                        dataset: stv_stv
                      identifier: 40bcb6be54394b5491f27353f2266929
                      name: stv_stv
                      type: clientConfig
                    - config:
                        dataset: cmore_fi_katsomo
                      identifier: fed3ddcbe76e4505addc9f1d55357c64
                      name: cmore_fi_katsomo
                      type: clientConfig
                    - config:
                        dataset: elisa_fi_elisaviihde
                      identifier: 17c892eef3a443828f70423f814cbb8e
                      name: elisa_fi_elisaviihde
                      type: clientConfig
                    - config:
                        dataset: hbo_nordic
                      identifier: f92cbc951288451c9d2ef386323c3fbe
                      name: hbo_nordic
                      type: clientConfig
                    - config:
                        dataset: yle_live_yle_live
                      identifier: ad674bd4ed334b67aa02cceec4da18e6
                      name: yle_live_yle_live
                      type: clientConfig
                    - config:
                        dataset: elisa_new_elisa_feed
                      identifier: e961e8e69ae14f879029f3c13b9b7056
                      name: elisa_new_elisa_feed
                      type: clientConfig
                    - config:
                        dataset: acorntv_acorntv
                      identifier: 3827f05fd1ac45f788d62b6cc5854bbb
                      name: acorntv_acorntv
                      type: clientConfig
                items:
                  type: object
                  properties:
                    config:
                      type: object
                      required:
                        - dataset
                      properties:
                        dataset:
                          type: string
                          minLength: 1
                    identifier:
                      type: string
                      minLength: 1
                    name:
                      type: string
                      minLength: 1
                    products:
                      type: array
                      uniqueItems: true
                      minItems: 1
                      items:
                        type: object
                        properties:
                          config:
                            type: object
                            properties:
                              url_rules:
                                type: array
                                uniqueItems: true
                                minItems: 1
                                items:
                                  type: object
                                  properties:
                                    regex:
                                      type: string
                                      minLength: 1
                                    rule:
                                      type: string
                                      minLength: 1
                                    verb:
                                      type: string
                                      minLength: 1
                                  required:
                                    - regex
                                    - rule
                                    - verb
                            required:
                              - url_rules
                          id:
                            type: string
                            minLength: 1
                          name:
                            type: string
                            minLength: 1
                          type:
                            type: string
                            minLength: 1
                        required:
                          - id
                          - name
                          - type
                    type:
                      type: string
                      minLength: 1
                  required:
                    - config
                    - identifier
                    - name
                    - type
              examples:
                '1':
                  value:
                    - config:
                        role:
                          - admin
                      identifier: 6a82cb4732634a5a81d9ac1b94d45ea2
                      name: admin_key
                      products:
                        - config:
                            url_rules:
                              - regex: '*'
                                rule: allow
                                verb: ALL
                          id: 29gCT3R3T8hVUQLUgQmKzV
                          name: all_access
                          type: product
                      type: clientConfig
      operationId: v1.datasets.get
      description: ''
components:
  schemas: {}
  securitySchemes:
    Authorization:
      name: Authorization
      type: apiKey
      in: header
security:
  - Authorization: []
