openapi: 3.0.0
info:
  title: discover_manager
  version: v1
  description: ''
servers:
  - url: 'https://services.utelly.com/discover_manager/v1'
    description: prod
  - url: 'https://staging-services.utelly.com/discover_manager/v1'
    description: staging
  - url: 'https://dev-services.utelly.com/discover_manager/v1'
    description: dev
paths:
  /creative_works/discover:
    get:
      summary: Discover Creative Works
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                additionalProperties: false
                type: object
                properties:
                  _embedded:
                    additionalProperties: false
                    type: object
                    properties:
                      creative_works:
                        type: array
                        items:
                          $ref: ./browse_manager.v1.yaml#/components/schemas/CreativeWork
                  _links:
                    $ref: ../models/HalLinks.v1.yaml
                  guid:
                    type: string
                    description: Discover GUID used for interactions context
                required:
                  - _embedded
                  - _links
                  - guid
              examples:
                '1':
                  value:
                    _embedded:
                      creative_works:
                        - _links:
                            availabilities:
                              href: /content/creative_works/27c13eec19014084a0a3173061702b46/availabilities
                            content_ratings:
                              href: /content/creative_works/27c13eec19014084a0a3173061702b46/content_ratings
                            contributors:
                              href: /content/creative_works/27c13eec19014084a0a3173061702b46/contributors
                            episodes:
                              href: /content/creative_works/27c13eec19014084a0a3173061702b46/episodes
                            seasons:
                              href: /content/creative_works/27c13eec19014084a0a3173061702b46/seasons
                            self:
                              href: /content/creative_works/27c13eec19014084a0a3173061702b46
                            tags:
                              href: /content/creative_works/27c13eec19014084a0a3173061702b46/tags
                          artworks:
                            - height: 100
                              metadata:
                                country: GB
                                language: en
                                source: mysource
                                type: poster
                              url: 'https://mydomain.com/poster.jpg'
                              width: 100
                          created_at: '2020-01-01T00:00:10Z'
                          deleted: false
                          descriptions:
                            - description: 'A sole survivor tells of the twisty events leading up to a horrific gun battle on a boat, which began when five criminals met at a seemingly random police lineup.'
                              metadata:
                                country: GB
                                language: en
                                source: mysource
                                type: full
                          guid: 27c13eec19014084a0a3173061702b46
                          identifiers:
                            - id: '1'
                              source: mysource
                          relationships:
                            - href: /content/creative_works/eac7cb1192264b088ccbad0874395ce5
                              rel: parent
                          titles:
                            - metadata:
                                country: GB
                                language: en
                                source: mysource
                                type: official
                              title: The Usual Suspects
                          type: movie
                          updated_at: '2020-01-01T00:00:10Z'
                    _links:
                      first:
                        href: /content/creative_works
                      last:
                        href: /content/creative_works?after_guid=8703dd1ced974ecea01116f2c0a5a282&limit=50
                      next:
                        href: /content/creative_works?after_guid=8703dd1ced974ecea01116f2c0a5a282&limit=50
                      prev:
                        href: /content/creative_works
                      self:
                        href: /content/creative_works?after_guid=8703dd1ced974ecea01116f2c0a5a282&limit=50
                    guid: 8703dd1ced974ecea01116f2c0a5a282
      operationId: v1.discover.creative_work.get
      parameters:
        - schema:
            type: array
            items:
              type: string
          in: query
          name: services
          style: pipeDelimited
          explode: true
          description: Has one or more of the listed service ids as an availability.
        - schema:
            type: array
          in: query
          name: 'services[excl]'
          style: pipeDelimited
          explode: true
          description: Has none of the listed service ids as an availability.
        - schema:
            type: array
            items:
              type: string
          in: query
          name: locations
          style: pipeDelimited
          explode: true
          description: Has availability for one or more of the listed location ids.
        - schema:
            type: array
            items:
              type: integer
          in: query
          name: release_year
          style: pipeDelimited
          explode: true
          description: Has one of the listed release years
        - schema:
            type: integer
            items:
              type: integer
            minimum: 1900
          in: query
          name: 'release_year[gte]'
          style: pipeDelimited
          explode: true
          description: Has a release year greater than or equal to values
        - schema:
            type: integer
            items:
              type: integer
            minimum: 1900
          in: query
          name: 'release_year[lte]'
          style: pipeDelimited
          explode: true
          description: Has a release year less than or equal to values
        - schema:
            type: array
            items:
              type: string
          in: query
          name: content_ratings
          style: pipeDelimited
          explode: true
          description: Has one or more of the listed content rating ids
        - schema:
            type: array
            items:
              type: string
          in: query
          name: 'content_ratings[excl]'
          style: pipeDelimited
          explode: true
          description: Has none of the listed content rating ids
        - schema:
            type: array
            items:
              type: string
          in: query
          name: tags
          style: pipeDelimited
          explode: true
          description: Has one of the listed tag ids.
        - schema:
            type: array
            items:
              type: string
          in: query
          name: 'tags[all]'
          style: pipeDelimited
          explode: true
          description: Has all of the listed tag ids.
        - schema:
            type: array
            items:
              type: string
          in: query
          name: 'tags[excl]'
          style: pipeDelimited
          explode: true
          description: Has none of the listed tag ids.
        - schema:
            type: array
            items:
              type: string
            example: '[movie|series]'
          in: query
          name: types
          style: pipeDelimited
          explode: true
          description: Is one of the listed types
        - schema:
            type: array
            items:
              type: string
          in: query
          name: guids
          style: pipeDelimited
          explode: true
          description: Includes creative works
        - schema:
            type: array
            items:
              type: string
          in: query
          name: 'guids[excl]'
          style: pipeDelimited
          explode: true
          description: Excludes creative works
        - schema:
            type: array
            items:
              type: string
          in: query
          name: titles
          style: pipeDelimited
          explode: true
        - schema:
            type: string
            enum:
              - popularity
              - relevancy
              - release_year
              - recommendation
              - rating
          in: query
          name: order_by
        - schema:
            type: integer
          in: query
          name: refresh_rate
        - schema:
            type: array
            items:
              type: integer
          in: query
          name: title_shuffle_set
          style: pipeDelimited
          explode: true
        - schema:
            type: integer
          in: query
          name: shuffle_rate
        - schema:
            type: integer
            minimum: 0
            maximum: 50
          in: query
          name: limit
        - schema:
            type: integer
            items:
              $ref: ../models/integer_range_field.v1.yaml
          in: query
          name: 'duration[gte]'
          style: pipeDelimited
          explode: true
          description: Has duration greater than or equal to.
        - schema:
            type: integer
            items:
              $ref: ../models/integer_range_field.v1.yaml
          in: query
          name: 'duration[lte]'
          style: pipeDelimited
          explode: true
          description: Has duration less than or equal to.
        - schema:
            type: array
            example: '[actor:eb4aaa3de91242ba82ad48bee0b48996]'
          in: query
          name: people
          style: pipeDelimited
          explode: true
          description: Has one or more of the listed people ids as a contributor - optional role flag.
        - schema:
            type: array
          in: query
          name: 'people[all]'
          style: pipeDelimited
          explode: true
          description: Has all of the listed people ids as a contributor - optional role flag.
        - schema:
            type: array
          in: query
          name: 'people[excl]'
          style: pipeDelimited
          explode: true
          description: Has none of the listed people ids as a contributor - optional role flag.
        - schema:
            type: array
            example: '[imdb:80|tmdb:75]'
          in: query
          name: 'rating[gte]'
          style: pipeDelimited
          description: Has rating greater than or equal to. List of ratings values with source flag
        - schema:
            type: array
            example: '[imdb:80|tmdb:75]'
          in: query
          name: 'rating[lte]'
          style: pipeDelimited
          description: Has rating less than or equal to. List of ratings values with source flag
        - schema:
            type: string
          in: header
          name: Content-Language
          description: 'Used to remove unnecessary titles, descriptions and artworks. Defaults to en-US'
        - schema:
            type: array
          in: query
          name: artworks_type
          description: List of artwork types to be included in the response.
        - schema:
            type: array
          in: query
          name: fields
          description: List of resource fields to be including in the response.
          style: pipeDelimited
        - schema:
            type: array
            example: '[availabilities|tags]'
          in: query
          name: embed
          description: 'List of related resources to be embedded in creative works. Note: embedded resources will themselves be fully embedded.'
          style: pipeDelimited
        - schema:
            type: string
          in: query
          name: q
          description: Natural language query string. Will be interpreted by NLU component. Other content filters will be ignored.
        - schema:
            type: string
          in: query
          name: user_id
          description: User for personalisation.
      description: ''
