openapi: 3.0.0
info:
  title: Discover Manager
  version: v1
  description: APIs for content discovery
  contact:
    email: developers@utelly.com
    name: API Support
servers:
  - url: 'https://services.utelly.com/discover_manager/v1'
    description: prod
  - url: 'https://staging-services.utelly.com/discover_manager/v1'
    description: staging
  - url: 'https://dev-services.utelly.com/discover_manager/v1'
    description: dev
security:
  - Authorization: []
paths:
  /creative_works/discover:
    get:
      summary: Discover Creative Works
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                additionalProperties: false
                type: object
                properties:
                  _embedded:
                    additionalProperties: false
                    type: object
                    properties:
                      creative_works:
                        type: array
                        items:
                          $ref: ./browse_manager.v1.yaml#/components/schemas/CreativeWork
                  _links:
                    $ref: ../models/HalLinks.v1.yaml
                  total_count:
                    type: integer
                    description: Total number of results
                  _metadata:
                    $ref: ../models/metadata_field.v1.yaml
                required:
                  - _links
                  - _embedded
                  - total_count
                  - _metadata
              examples:
                '1':
                  value:
                    _embedded:
                      creative_works:
                        - _links:
                            availabilities:
                              href: /content/creative_works/27c13eec19014084a0a3173061702b46/availabilities
                            content_ratings:
                              href: /content/creative_works/27c13eec19014084a0a3173061702b46/content_ratings
                            contributors:
                              href: /content/creative_works/27c13eec19014084a0a3173061702b46/contributors
                            episodes:
                              href: /content/creative_works/27c13eec19014084a0a3173061702b46/episodes
                            seasons:
                              href: /content/creative_works/27c13eec19014084a0a3173061702b46/seasons
                            self:
                              href: /content/creative_works/27c13eec19014084a0a3173061702b46
                            tags:
                              href: /content/creative_works/27c13eec19014084a0a3173061702b46/tags
                          artworks:
                            - height: 100
                              metadata:
                                country: GB
                                language: en
                                source: mysource
                                type: poster
                              url: 'https://mydomain.com/poster.jpg'
                              width: 100
                          created_at: '2020-01-01T00:00:10Z'
                          deleted: false
                          descriptions:
                            - description: 'A sole survivor tells of the twisty events leading up to a horrific gun battle on a boat, which began when five criminals met at a seemingly random police lineup.'
                              metadata:
                                country: GB
                                language: en
                                source: mysource
                                type: full
                          guid: 27c13eec19014084a0a3173061702b46
                          identifiers:
                            - id: '1'
                              source: mysource
                          relationships:
                            - href: /content/creative_works/eac7cb1192264b088ccbad0874395ce5
                              rel: parent
                          titles:
                            - metadata:
                                country: GB
                                language: en
                                source: mysource
                                type: official
                              title: The Usual Suspects
                          type: movie
                          updated_at: '2020-01-01T00:00:10Z'
                    _links:
                      first:
                        href: /content/creative_works
                      last:
                        href: /content/creative_works?after_guid=8703dd1ced974ecea01116f2c0a5a282&limit=50
                      next:
                        href: /content/creative_works?after_guid=8703dd1ced974ecea01116f2c0a5a282&limit=50
                      prev:
                        href: /content/creative_works
                      self:
                        href: /content/creative_works?after_guid=8703dd1ced974ecea01116f2c0a5a282&limit=50
                    _metadata:
                      request_guid: 8703dd1ced974ecea01116f2c0a5a282
                    total_count: 1
      operationId: v1.discover.creative_work.get
      parameters:
        - schema:
            type: array
            items:
              type: string
          in: query
          name: services
          style: pipeDelimited
          explode: true
          description: Has one or more of the listed service ids as an availability.
        - schema:
            type: array
            items:
              type: string
          in: query
          name: services.excl
          style: pipeDelimited
          explode: true
          description: Has none of the listed service ids as an availability.
        - schema:
            type: array
            items:
              type: string
              enum:
                - web
                - android
                - ios
                - tv
                - native_hbbtv
          in: query
          name: platform
          style: pipeDelimited
          explode: true
          description: Has one or more of the listed platforms as an availability.
        - schema:
            type: array
            items:
              type: string
              enum:
                - web
                - android
                - ios
                - tv
                - native_hbbtv
          in: query
          name: platform.excl
          style: pipeDelimited
          explode: true
          description: Has none of the listed platforms as an availability.
        - schema:
            type: array
            items:
              type: string
          in: query
          name: locations
          style: pipeDelimited
          explode: true
          description: Has availability for one or more of the listed location ids.
        - schema:
            type: array
            items:
              type: integer
          in: query
          name: release_year
          style: pipeDelimited
          explode: true
          description: Has one of the listed release years
        - schema:
            type: integer
            items:
              type: integer
            minimum: 1900
          in: query
          name: release_year.gte
          style: pipeDelimited
          explode: true
          description: Has a release year greater than or equal to values
        - schema:
            type: integer
            items:
              type: integer
            minimum: 1900
          in: query
          name: release_year.lte
          style: pipeDelimited
          explode: true
          description: Has a release year less than or equal to values
        - schema:
            type: array
            items:
              type: string
          in: query
          name: content_ratings
          style: pipeDelimited
          explode: true
          description: Has one or more of the listed content rating ids
        - schema:
            type: array
            items:
              type: string
          in: query
          name: content_ratings.excl
          style: pipeDelimited
          explode: true
          description: Has none of the listed content rating ids
        - schema:
            type: array
            items:
              type: string
          in: query
          name: tags
          style: pipeDelimited
          explode: true
          description: Has one of the listed tag ids.
        - schema:
            type: array
            items:
              type: string
          in: query
          name: tags.all
          style: pipeDelimited
          explode: true
          description: Has all of the listed tag ids.
        - schema:
            type: array
            items:
              type: string
          in: query
          name: tags.excl
          style: pipeDelimited
          explode: true
          description: Has none of the listed tag ids.
        - schema:
            type: array
            items:
              type: string
            example:
              - tv
              - movie
              - series
              - season
              - episode
          in: query
          name: types
          style: pipeDelimited
          explode: true
          description: Is one of the listed types
        - schema:
            type: array
            items:
              type: string
          in: query
          name: guids
          style: pipeDelimited
          explode: true
          description: Includes creative works
        - schema:
            type: array
            items:
              type: string
          in: query
          name: external_references
          style: pipeDelimited
          explode: true
          description: 'Includes creative works with specified identifiers from external sources (e.g imdb, tmdb)'
        - schema:
            type: array
            items:
              type: string
          in: query
          name: guids.excl
          style: pipeDelimited
          explode: true
          description: Excludes creative works
        - schema:
            type: array
            items:
              type: string
          in: query
          name: titles
          style: pipeDelimited
          explode: true
          description: Includes creative works if any of its titles contains the provided string. blah|foo will return \*blah\* OR \*foo\*
        - schema:
            type: array
            items:
              type: string
              enum:
                - popularity
                - popularity.external
                - popularity.iva_iva
                - relevancy
                - release_year
                - recommendation
                - rating
                - availability_from
                - availability_to
                - '-popularity'
                - '-popularity.external'
                - '-popularity.iva_iva'
                - '-relevancy'
                - '-release_year'
                - '-recommendation'
                - '-rating'
                - '-availability_from'
                - '-availability_to'
          in: query
          name: order_by
          style: pipeDelimited
          description: "<table>       <tr>         <td>Parameter</td>         <td>Impact</td>       </tr>       <tr> \t\t  <td>----</td> \t\t   <td>----</td>       </tr>       <tr>         <td><b>popularity</b></td>         <td>most popular first</td>       </tr><tr>         <td><b>popularity.external</b></td>         <td>most popular first, based on the score by providers in the 'popularity.provider' parameter</td>       </tr>       <tr>         <td><b>relevancy</b></td>         <td>most relevant first, from a search perspective</td>       </tr>       <tr>         <td><b>release_year</b></td>         <td>most recent first</td>       </tr>       <tr>         <td><b>recommendation</b></td>         <td>best recommended first</td>       </tr>       <tr>         <td><b>rating</b></td>         <td>best rated first</td>       </tr>       <tr>         <td><b>availability_from</b></td>         <td>ASC</td>       </tr>       <tr>         <td><b>availability_to</b></td>         <td>ASC</td>       </tr>       <tr> \t\t  <td>----</td> \t\t   <td>----</td>       </tr>       <tr>         <td><b>note</b></td>         <td>use of \\*-\\* (minus) before the option provides the reverse order.</td>       </tr> </table>"
        - schema:
            type: array
            items:
              type: string
              enum:
                - IVA
                - IMDB
                - TMDB
                - Amazon
                - Netflix
                - RottenTomatoes
                - Youtube
                - iTunes
                - Hulu
                - BoxOfficeMojo
                - TheNumbers
                - TVGuide
                - MovieClips
                - Redbox
                - Xfinity
                - Fios
                - Vudu
                - PlutoTV
                - Gamespot
          in: query
          name: popularity.provider
          style: pipeDelimited
          description: Providers to use if ordering by popularity.external. All providers will be used if not specified.
        - schema:
            type: integer
          in: query
          name: refresh_rate
        - schema:
            type: array
            items:
              type: integer
          in: query
          name: title_shuffle_set
          style: pipeDelimited
          explode: true
        - schema:
            type: integer
          in: query
          name: shuffle_rate
        - schema:
            type: integer
            maximum: 50
            minimum: 1
          in: query
          name: limit
        - schema:
            type: string
            pattern: '^P(?!$)(\d+Y)?(\d+M)?(\d+W)?(\d+D)?(T(?=\d+[HMS])(\d+H)?(\d+M)?(\d+S)?)?$'
          in: query
          name: duration.gte
          style: pipeDelimited
          explode: true
          description: Has duration greater than or equal to in iso8601 duration format.
        - schema:
            type: string
            pattern: '^P(?!$)(\d+Y)?(\d+M)?(\d+W)?(\d+D)?(T(?=\d+[HMS])(\d+H)?(\d+M)?(\d+S)?)?$'            
          in: query
          name: duration.lte
          style: pipeDelimited
          explode: true
          description: Has duration less than or equal to in iso8601 duration format.
        - schema:
            type: array
            items:
              type: string
              example: 'actor:eb4aaa3de91242ba82ad48bee0b48996'
          in: query
          name: people
          style: pipeDelimited
          explode: true
          description: Has one or more of the listed people ids as a contributor - optional role flag.
        - schema:
            type: array
            items:
              type: string
          in: query
          name: people.all
          style: pipeDelimited
          explode: true
          description: Has all of the listed people ids as a contributor - optional role flag.
        - schema:
            type: array
            items:
              type: string
          in: query
          name: people.excl
          style: pipeDelimited
          explode: true
          description: Has none of the listed people ids as a contributor - optional role flag.
        - schema:
            type: number
            example: 80
          in: query
          name: rating.gte
          style: pipeDelimited
          description: 'Has rating greater than or equal to, with the provider specified in ratings_provider'
        - schema:
            type: number
            example: 80
          in: query
          name: rating.lte
          style: pipeDelimited
          description: 'Has rating less than or equal to, with the provider specified in ratings_provider'
        - schema:
            type: string
            example: iva
          in: query
          name: ratings.provider
          description: Has rating less than or equal to. List of ratings values with source flag
        - schema:
            type: string
            format: date-time
            example: '2021-08-31T00:00:00Z'
          in: query
          name: availability_from
          style: pipeDelimited
          explode: true
          description: Has availability start date equal to value
        - schema:
            type: string
            format: date-time
            example: '2021-08-31T00:00:00Z'
          in: query
          name: availability_from.gte
          style: pipeDelimited
          explode: true
          description: Has availability start date greater than or equal to value
        - schema:
            type: string
            format: date-time
            example: '2021-08-31T00:00:00Z'
          in: query
          name: availability_from.lte
          style: pipeDelimited
          explode: true
          description: Has a start date less than or equal to value
        - schema:
            type: string
            format: date-time
            example: '2021-08-31T00:00:00Z'
          in: query
          name: availability_to
          style: pipeDelimited
          explode: true
          description: Has availability end date equal to value
        - schema:
            type: string
            format: date-time
            example: '2021-08-31T00:00:00Z'
          in: query
          name: availability_to.gte
          style: pipeDelimited
          explode: true
          description: Has availability end date greater than or equal to value
        - schema:
            type: string
            format: date-time
            example: '2021-08-31T00:00:00Z'
          in: query
          name: availability_to.lte
          style: pipeDelimited
          explode: true
          description: Has a end date less than or equal to value
        - schema:
            type: array
            items:
              type: string
          in: query
          name: artworks_type
          style: pipeDelimited
          description: List of artwork types to be included in the response.
        - schema:
            type: array
            items:
              type: string
          in: query
          name: fields
          description: List of resource fields to be including in the response.
          style: pipeDelimited
        - schema:
            type: array
            items:
              type: string
            example:
              - availabilities
              - tags
          in: query
          name: embed
          description: 'List of related resources to be embedded in creative works. Note: embedded resources will themselves be fully embedded.'
          style: pipeDelimited
        - schema:
            type: string
          in: query
          name: q
          description: Natural language query string. Will be interpreted by NLU component. Other content filters will be ignored.
        - schema:
            type: string
          in: query
          name: user.id
          description: Identifier for user
        - schema:
            type: string
          in: query
          name: user.source
          description: Namespace of user.id
        - schema:
            type: string
          in: query
          name: search_after
        - schema:
            type: array
            items:
              $ref: ../models/language_field.v1.yaml
          in: query
          name: languages
          style: pipeDelimited
          explode: true
          description: 'Used to remove unnecessary titles, descriptions and artworks. Defaults to en-US'
        - schema:
            items:
              $ref: ../models/locale_field.v1.yaml
            type: array
          in: query
          name: locales
          description: 'Used to remove unnecessary titles, descriptions and artworks. Defaults to en-US'
      description: ''
  /creative_works/related:
    get:
      summary: Related Creative Works
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  _embedded:
                    type: object
                    additionalProperties: false
                    properties:
                      creative_works:
                        type: array
                        items:
                          $ref: ./browse_manager.v1.yaml#/components/schemas/CreativeWork
                  _links:
                    $ref: ../models/HalLinks.v1.yaml
                  total_count:
                    type: integer
                    description: Total number of results
                  _metadata:
                    $ref: ../models/metadata_field.v1.yaml
                required:
                  - _links
                  - _embedded
                  - total_count
                  - _metadata
              examples:
                '1':
                  value:
                    _embedded:
                      creative_works:
                        - _links:
                            availabilities:
                              href: /content/creative_works/27c13eec19014084a0a3173061702b46/availabilities
                            content_ratings:
                              href: /content/creative_works/27c13eec19014084a0a3173061702b46/content_ratings
                            contributors:
                              href: /content/creative_works/27c13eec19014084a0a3173061702b46/contributors
                            episodes:
                              href: /content/creative_works/27c13eec19014084a0a3173061702b46/episodes
                            seasons:
                              href: /content/creative_works/27c13eec19014084a0a3173061702b46/seasons
                            self:
                              href: /content/creative_works/27c13eec19014084a0a3173061702b46
                            tags:
                              href: /content/creative_works/27c13eec19014084a0a3173061702b46/tags
                          artworks:
                            - height: 100
                              metadata:
                                country: GB
                                language: en
                                source: mysource
                                type: poster
                              url: 'https://mydomain.com/poster.jpg'
                              width: 100
                          created_at: '2020-01-01T00:00:10Z'
                          deleted: false
                          descriptions:
                            - description: 'A sole survivor tells of the twisty events leading up to a horrific gun battle on a boat, which began when five criminals met at a seemingly random police lineup.'
                              metadata:
                                country: GB
                                language: en
                                source: mysource
                                type: full
                          guid: 27c13eec19014084a0a3173061702b46
                          identifiers:
                            - id: '1'
                              source: mysource
                          relationships:
                            - href: /content/creative_works/eac7cb1192264b088ccbad0874395ce5
                              rel: parent
                          titles:
                            - metadata:
                                country: GB
                                language: en
                                source: mysource
                                type: official
                              title: The Usual Suspects
                          type: movie
                          updated_at: '2020-01-01T00:00:10Z'
                    _links:
                      first:
                        href: /content/creative_works
                      last:
                        href: /content/creative_works?after_guid=8703dd1ced974ecea01116f2c0a5a282&limit=50
                      next:
                        href: /content/creative_works?after_guid=8703dd1ced974ecea01116f2c0a5a282&limit=50
                      prev:
                        href: /content/creative_works
                      self:
                        href: /content/creative_works?after_guid=8703dd1ced974ecea01116f2c0a5a282&limit=50
                    _metadata:
                      request_guid: 8b63dd1ced974ecea01116f2c0a5a282
                    total_count: 1
      operationId: v1.discover.related.get
      parameters:
        - schema:
            type: string
          in: query
          name: content.id
          description: Id of the item to which items should be related
          required: true
        - schema:
            type: string
          in: query
          name: content.source
          description: Namespace for seed_source_id so that consumers don't need to map to Utelly create_work_guid
        - schema:
            type: integer
            minimum: 0
            maximum: 50
          in: query
          name: limit
          description: Max items to be included in response
        - schema:
            type: string
          in: query
          name: search_after
        - schema:
            type: array
            items:
              type: string
            example:
              - availabilities
              - tags
          in: query
          name: embed
          description: 'List of related resources to be embedded in creative works. Note: embedded resources will themselves be fully embedded.'
          style: pipeDelimited
        - schema:
            items:
              type: string
            type: array
          in: query
          name: fields
          description: List of resource fields to be including in the response.
          style: pipeDelimited
        - schema:
            type: array
            items:
              type: string
              enum:
                - web
                - android
                - ios
                - tv
                - native_hbbtv
          in: query
          name: platform
          style: pipeDelimited
          explode: true
          description: Has one or more of the listed platforms as an availability.
        - schema:
            type: array
            items:
              type: string
              enum:
                - web
                - android
                - ios
                - tv
                - native_hbbtv
          in: query
          name: platform.excl
          style: pipeDelimited
          explode: true
          description: Has none of the listed platforms as an availability.
        - schema:
            items:
              type: string
            type: array
          in: query
          style: pipeDelimited
          description: Has availability for one or more of the listed location ids.
          name: locations
        - schema:
            type: array
            items:
              type: string
          in: query
          name: services
          style: pipeDelimited
          description: Has one or more of the listed service ids as an availability.
        - schema:
            type: array
            items:
              type: string
          in: query
          name: services.excl
          style: pipeDelimited
          description: Has none of the listed service ids as an availability.
        - schema:
            type: string
          in: query
          name: user.id
          description: Identifier for user
        - schema:
            type: string
          in: query
          name: user.source
          description: Namespace of user.id
        - schema:
            type: array
            items:
              $ref: ../models/language_field.v1.yaml
          in: query
          style: pipeDelimited
          name: languages
          description: 'Used to remove unnecessary titles, descriptions and artworks.'
        - schema:
            items:
              $ref: ../models/locale_field.v1.yaml
            type: array
          in: query
          name: locales
          description: 'Used to remove unnecessary titles, descriptions and artworks.'
      description: ''
    parameters: []
components:
  schemas:
    user_object:
      title: user_object
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
        source:
          type: string
  parameters:
    user_param:
      name: user
      in: query
      required: false
      schema:
        $ref: '#/components/schemas/user_object'
      description: Allows for results to be personalised based on historic user interactions
  securitySchemes:
    Authorization:
      in: header
      name: Authorization
      type: apiKey
      x-apikeyInfoFunc: security.check_token
