openapi: 3.0.0
info:
  title: editorial_manager.v1
  version: '1.0'
servers:
  - url: 'https://services.utelly.com/editorial_manager/v1'
    description: Production
  - url: 'https://staging-services.utelly.com/discover_manager/v1'
    description: Staging
  - url: 'https://dev-services.utelly.com/discover_manager/v1'
    description: Development
paths:
  /pages:
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  _links:
                    $ref: ../models/HalLinks.v1.yaml
                  _embedded:
                    type: object
                    properties:
                      pages:
                        type: array
                        items:
                          $ref: '#/components/schemas/Page'
      operationId: get-pages
    post:
      summary: ''
      operationId: post-pages
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Page'
  '/pages/{page_guid}':
    parameters:
      - schema:
          type: string
        name: page_guid
        in: path
        required: true
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
      operationId: get-pages-page_guid
    delete:
      summary: ''
      operationId: delete-pages-page_guid
      responses:
        '202':
          description: Accepted
  '/pages/{page_guid}/configs':
    parameters:
      - schema:
          type: string
        name: page_guid
        in: path
        required: true
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  _links:
                    $ref: ../models/HalLinks.v1.yaml
                  _embedded:
                    type: object
                    properties:
                      configs:
                        type: array
                        items:
                          $ref: '#/components/schemas/Config'
      operationId: get-pages-page_guid-configs
    post:
      summary: ''
      operationId: post-pages-page_guid-configs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Config'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Config'
  '/pages/{page_guid}/configs/{config_guid}':
    parameters:
      - schema:
          type: string
        name: page_guid
        in: path
        required: true
      - schema:
          type: string
        name: config_guid
        in: path
        required: true
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Config'
      operationId: get-pages-page_guid-configs-config_guid
    put:
      summary: ''
      operationId: put-pages-page_guid-configs-config_guid
      responses:
        '200':
          description: OK
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Config'
    delete:
      summary: ''
      operationId: delete-pages-page_guid-configs-config_guid
      responses:
        '202':
          description: Accepted
  /collections:
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  _links:
                    $ref: ../models/HalLinks.v1.yaml
                  _embedded:
                    type: object
                    properties:
                      collections:
                        type: array
                        items:
                          $ref: '#/components/schemas/Collection'
      operationId: get-collections
    post:
      summary: ''
      operationId: post-collections
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Collection'
  '/collections/{collection_guid}':
    parameters:
      - schema:
          type: string
        name: collection_guid
        in: path
        required: true
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
      operationId: get-collections-collection_guid
    put:
      summary: ''
      operationId: put-collections-collection_guid
      responses:
        '200':
          description: OK
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Collection'
    delete:
      summary: ''
      operationId: delete-collections-collection_guid
      responses:
        '202':
          description: Accepted
  '/pages/{page_guid}/notes':
    parameters:
      - schema:
          type: string
        name: page_guid
        in: path
        required: true
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  _links:
                    $ref: ../models/HalLinks.v1.yaml
                  _embedded:
                    type: array
                    items:
                      $ref: '#/components/schemas/Note'
      operationId: get-pages-page_guid-notes
    post:
      summary: ''
      operationId: post-pages-page_guid-notes
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Note'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Note'
  '/pages/{page_guid}/notes/{note_guid}':
    parameters:
      - schema:
          type: string
        name: page_guid
        in: path
        required: true
      - schema:
          type: string
        name: note_guid
        in: path
        required: true
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Note'
      operationId: get-pages-page_guid-notes-note_guid
    delete:
      summary: ''
      operationId: delete-pages-page_guid-notes-note_guid
      responses:
        '202':
          description: Accepted
  '/pages/{page_guid}/collections':
    parameters:
      - schema:
          type: string
        name: page_guid
        in: path
        required: true
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  _links:
                    $ref: ../models/HalLinks.v1.yaml
                  _embedded:
                    type: array
                    items:
                      $ref: '#/components/schemas/Collection'
      operationId: get-pages-page_guid-collections
components:
  schemas:
    Page:
      type: object
      title: Page
      properties:
        _links:
          $ref: ../models/HalLinks.v1.yaml
        slug:
          type: string
        config:
          $ref: '#/components/schemas/Config'
        active:
          type: boolean
        expiry_warning:
          type: boolean
        guid:
          type: string
        deleted:
          type: boolean
          readOnly: true
    Config:
      title: Config
      type: object
      properties:
        _links:
          $ref: ../models/HalLinks.v1.yaml
        guid:
          type: string
          readOnly: true
        version:
          type: string
        collection_guids:
          type: array
          items:
            type: string
          writeOnly: true
        valid_from:
          type: string
        valid_to:
          type: string
        hero:
          type: string
        unique_content:
          type: boolean
        merchandise:
          type: boolean
        enable_promotion:
          type: boolean
        exclude:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              guid:
                type: string
    Collection:
      title: Collection
      type: object
      properties:
        _links:
          $ref: ../models/HalLinks.v1.yaml
        guid:
          type: string
          readOnly: true
        type:
          type: string
          enum:
            - programmatic
            - editorial
            - hybrid
        names:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              metadata:
                $ref: ./browse_manager.v1.yaml#/components/schemas/metadata_field
        descriptions:
          type: array
          items:
            type: object
            properties:
              description:
                type: string
              metadata:
                $ref: ./browse_manager.v1.yaml#/components/schemas/metadata_field
        display:
          type: object
          properties:
            artwork_type:
              type: string
            allow_pagination:
              type: boolean
            refresh_rate:
              type: integer
        content:
          type: object
          properties:
            creative_work_type:
              type: array
              items:
                type: string
                enum:
                  - movie
                  - series
                  - tv
                  - season
                  - episode
            tag_guids:
              type: array
              items:
                type: string
            service_guids:
              type: array
              items:
                type: string
            content_rating_guids:
              type: array
              items:
                type: string
            duration:
              type: object
              properties:
                min:
                  type: integer
                max:
                  type: integer
            release_year:
              type: object
              properties:
                from:
                  type: integer
                to:
                  type: integer
            kids:
              type: boolean
            creative_work_guids:
              type: array
              items:
                type: string
        exclude:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              guid:
                type: string
        limit:
          type: integer
          default: 25
        order_by:
          type: string
          enum:
            - recommend
            - trending
            - rating
            - manual
            - release
          default: recommend
        hero:
          type: string
        shuffle_rate:
          type: integer
        title_shuffle_set:
          type: array
          items: {}
        deleted:
          type: boolean
          readOnly: true
    Note:
      type: object
      title: Note
      properties:
        guid:
          type: string
        note:
          type: string
        user_guid:
          type: string
        timstamp:
          type: string
      readOnly: true
