openapi: 3.1.0
info:
  title: editorial_manager
  version: v1
  contact:
    name: API Support
    email: developers@utelly.com
servers:
  - url: 'https://services.utelly.com/editorial_manager/v1'
    description: prod
  - url: 'https://staging-services.utelly.com/editorial_manager/v1'
    description: staging
  - url: 'https://dev-services.utelly.com/editorial_manager/v1'
    description: dev
paths:
  /collections:
    post:
      summary: ''
      operationId: v1.editorial.collections.create
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/collection'
      description: ''
      tags:
        - collection_management
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              x-examples:
                example-1:
                  title: Mark's Top Picks
                  description: Curated by Mark
                  definition:
                    base_url: 'https://dev-services.utelly.com/content/creative_works'
                    parameters:
                      languages: en
                      filters: '{''operator'': ''eq'', ''property'': ''guid'', ''value'': [''d34a6096a8f9760c7c39676572f00cfd709790ff'', ''69ece68298f50a5b34db5770f4fa06eac63f1ad0'']}'
                  refresh_timeout: 3600
                  shuffle_set: []
                  shuffle_rate: 3
                  promotions:
                    - fake_promotion_guid
                  pinned_items:
                    - d34a6096a8f9760c7c39676572f00cfd709790ff
              properties:
                collection:
                  $ref: '#/components/schemas/collection'
                audit_entry:
                  $ref: '#/components/schemas/audit_entry'
            examples: {}
    get:
      summary: ''
      operationId: v1.editorial.collections.get_list
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  _embedded:
                    type: object
                    properties:
                      collections:
                        type: array
                        items:
                          $ref: '#/components/schemas/collection'
                  _links:
                    $ref: ../models/HalLinks.v1.yaml
      tags:
        - collection_management
      parameters:
        - schema:
            type: integer
          in: query
          name: limit
          description: Number of collections to include in response
        - schema:
            type: integer
          in: query
          name: skip
          description: Number of collections to skip
  '/collections/{collection_guid}':
    parameters:
      - schema:
          type: string
        name: collection_guid
        in: path
        required: true
    get:
      summary: Your GET endpoint
      tags:
        - collection_management
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/collection'
      operationId: v1.editorial.collections.get_one
      description: ''
    put:
      summary: ''
      operationId: v1.editorial.collections.update
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/collection'
      tags:
        - collection_management
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              x-examples:
                example-1:
                  title: Mark's Top Picks
                  description: Curated by Mark
                  definition:
                    base_url: 'https://dev-services.utelly.com/content/creative_works'
                    parameters:
                      languages: en
                      filters: '{''operator'': ''eq'', ''property'': ''guid'', ''value'': [''d34a6096a8f9760c7c39676572f00cfd709790ff'', ''69ece68298f50a5b34db5770f4fa06eac63f1ad0'']}'
                  refresh_timeout: 3600
                  shuffle_set: []
                  shuffle_rate: 3
                  promotions:
                    - fake_promotion_guid
                  pinned_items:
                    - d34a6096a8f9760c7c39676572f00cfd709790ff
              properties:
                collection:
                  $ref: '#/components/schemas/collection'
                audit_entry:
                  $ref: '#/components/schemas/audit_entry'
  /pages:
    get:
      summary: Your GET endpoint
      tags:
        - page_management
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  _embedded:
                    type: object
                    properties:
                      pages:
                        type: array
                        items:
                          $ref: '#/components/schemas/page'
                  _links:
                    $ref: ../models/HalLinks.v1.yaml
      operationId: v1.editorial.pages.get_list
      description: ''
      parameters:
        - schema:
            type: integer
          in: query
          name: limit
          description: Number of pages to include in response
        - schema:
            type: integer
          in: query
          name: skip
          description: Number of pages to skip
    post:
      summary: ''
      operationId: post-pages
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/page'
      tags:
        - page_management
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              x-examples:
                example-1:
                  title: Homepage
                  description: Typical homepage
                  definition:
                    collections:
                      - collection_guid: abc123
                      - collection_guid: abc123
                        title: Mark's Top French Picks
                        definition:
                          parameters:
                            languages: fr
              type: object
              properties:
                page:
                  $ref: '#/components/schemas/page'
                audit_entry:
                  $ref: '#/components/schemas/audit_entry'
  '/pages/{page_guid}':
    parameters:
      - schema:
          type: string
        name: page_guid
        in: path
        required: true
    get:
      summary: Your GET endpoint
      tags:
        - page_management
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/page'
      operationId: v1.editorial.pages.get_one
    put:
      summary: ''
      operationId: v1.editorial.pages.update
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/page'
      tags:
        - page_management
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              x-examples:
                example-1:
                  title: Homepage
                  description: Typical homepage
                  definition:
                    collections:
                      - collection_guid: abc123
                      - collection_guid: abc123
                        title: Mark's Top French Picks
                        definition:
                          parameters:
                            languages: fr
              properties:
                page:
                  $ref: '#/components/schemas/page'
                audit_entry:
                  $ref: '#/components/schemas/audit_entry'
  /slugs:
    get:
      summary: Your GET endpoint
      tags:
        - slug_management
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  _embedded:
                    type: object
                    properties:
                      slugs:
                        type: array
                        items:
                          $ref: '#/components/schemas/slug'
                  _links:
                    $ref: ../models/HalLinks.v1.yaml
      operationId: v1.editorial.slugs.get_list
      description: ''
    post:
      summary: ''
      operationId: v1.editorial.slugs.create
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/slug'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                slug:
                  $ref: '#/components/schemas/slug'
                audit_entry:
                  $ref: '#/components/schemas/audit_entry'
      tags:
        - slug_management
  '/slugs/{slug_guid}':
    parameters:
      - schema:
          type: string
        name: slug_guid
        in: path
        required: true
    get:
      summary: Your GET endpoint
      tags:
        - slug_management
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/slug'
      operationId: v1.editorial.slugs.get_one
    put:
      summary: ''
      operationId: v1.editorial.slugs.update
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/slug'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                slug:
                  $ref: '#/components/schemas/slug'
                audit_entry:
                  $ref: '#/components/schemas/audit_entry'
      tags:
        - slug_management
components:
  schemas:
    collection:
      title: collection
      type: object
      x-tags:
        - collection_management
      properties:
        collection_guid:
          type: string
        titles:
          type: array
          items:
            $ref: '#/components/schemas/title'
        description:
          type: array
          items:
            $ref: '#/components/schemas/description'
        content_definition:
          type: object
          properties:
            endpoint:
              type: string
            parameters:
              type: object
        refresh_timeout:
          type: integer
        shuffle_set:
          type: array
          items:
            type: integer
        shuffle_rate:
          type: integer
        pinned_items:
          type: array
          items:
            type: string
        status:
          $ref: '#/components/schemas/publishing_status'
        audience:
          $ref: '#/components/schemas/audience'
        interaction_guid:
          type: string
        ui_configuration:
          type: object
          properties:
            image_type:
              type: string
            hero_image:
              type: string
            item_count:
              type: integer
            max_count:
              type: integer
        audit_log:
          $ref: '#/components/schemas/audit_log'
      required:
        - collection_guid
    page:
      title: page
      type: object
      x-tags:
        - page_management
      description: ''
      properties:
        page_guid:
          type: string
        title:
          type: array
          items:
            $ref: '#/components/schemas/title'
        description:
          type: array
          items:
            $ref: '#/components/schemas/description'
        content_definition:
          type: object
          properties:
            collections:
              type: array
              items:
                type: object
                properties:
                  _links:
                    $ref: ../models/hal_link_field.v1.yaml
                  override_settings:
                    $ref: '#/components/schemas/collection'
            exclusion_rules:
              type: object
              properties:
                creative_works:
                  type: array
                  items:
                    type: string
                tags:
                  type: array
                  items:
                    type: string
                people:
                  type: array
                  items:
                    type: string
        enforce_uniqueness:
          type: boolean
        refresh_timeout:
          type: integer
        valid_from:
          type: string
        valid_to:
          type: string
        status:
          $ref: '#/components/schemas/publishing_status'
        merchandising_enabled:
          type: string
        interaction_guid:
          type: string
        audience:
          $ref: '#/components/schemas/audience'
        audit_log:
          $ref: '#/components/schemas/audit_log'
    publishing_status:
      type: string
      enum:
        - draft
        - published
        - archived
      title: ''
    audit_entry:
      title: audit_entry
      type: object
      properties:
        audit_guid:
          type: string
        author:
          type: string
        description:
          type: string
        current_status:
          $ref: '#/components/schemas/publishing_status'
        previous_status:
          $ref: '#/components/schemas/publishing_status'
        content:
          type: string
        date:
          type: string
    audit_log:
      title: audit_log
      type: object
      properties:
        _embedded:
          type: object
          properties:
            audit_entries:
              type: array
              items:
                $ref: '#/components/schemas/audit_entry'
        _links:
          $ref: ../models/HalLinks.v1.yaml
    audience:
      title: audience
      type: object
      properties:
        user.sources:
          type: array
          items:
            type: string
        users.excl:
          type: array
          items:
            type: string
        platforms:
          type: array
          items:
            $ref: ./interaction_manager.v1.yaml#/components/schemas/platform_type
        languages:
          type: array
          items:
            $ref: ../models/language_field.v1.yaml
        countries:
          type: array
          items:
            $ref: ../models/country_field.v1.yaml
    title:
      title: title
      type: object
      properties:
        title:
          type: string
        metadata:
          $ref: ./browse_manager.v1.yaml#/components/schemas/metadata_field
    description:
      title: description
      type: object
      properties:
        description:
          type: string
        metadata:
          $ref: ./browse_manager.v1.yaml#/components/schemas/metadata_field
    slug:
      title: slug
      type: object
      properties:
        slug_guid:
          type: string
        name:
          type: string
        type:
          type: string
        page_mapping:
          type: object
        status:
          type: string
        interaction_guid:
          type: string
        audit_log:
          $ref: '#/components/schemas/audit_log'
  securitySchemes:
    Authorization:
      name: Authorization
      type: apiKey
      in: header
security:
  - Authorization: []
tags:
  - name: utelly_services
