openapi: 3.0.0
info:
  title: sherlock_manager
  version: v1
  description: ''
servers:
  - url: 'https://services.utelly.com/sherlock_manager/v1'
    description: prod
  - url: 'https://dev-services.utelly.com/sherlock_manager/v1'
    description: dev
  - url: 'https://staging-services.utelly.com/sherlock_manager/v1'
    description: staging
paths:
  '/search/{config_id}':
    get:
      summary: Sherlock Search
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                '1':
                  value:
                    count: '>10000'
                    exact_match: true
                    metadata:
                      - entity: person
                        key: person
                        name: People
                      - entity: topic
                        key: swimlane_0
                        name: Shows & Movies starring George Clooney
                    results:
                      person:
                        - _id: 0529fa6bd19c449493659e5d6d3bbdb8ba7ceb07
                          name: George Clooney
                          picture: null
                          source_id: Person/6060
                          weight: 107
                      swimlane_0:
                        - actors:
                            - id: 016b423ab2b19509e7a44b5f2cdd3ee07d99cc0f
                              name: Kris Reilly
                              picture: ''
                              source_id: Person/416756
                            - id: 034190c004d1ec0f7bbb83c4148625a912c416ef
                              name: Chris Matthews
                              picture: ''
                              source_id: Person/180675
                            - id: 0529fa6bd19c449493659e5d6d3bbdb8ba7ceb07
                              name: George Clooney
                              picture: ''
                              source_id: Person/6060
                            - id: 06e3de0c478e39aac9ae1f488881daa09be98dc4
                              name: Rohn Thomas
                              picture: ''
                              source_id: Person/27301
                            - id: 0b9a5e803449cece6ce9cbe4bfc4ebc9d3733044
                              name: Marisa Tomei
                              picture: ''
                              source_id: Person/4236
                            - id: 1628700dbe1e266105bc944b3201071a9806dc1a
                              name: Max Minghella
                              picture: ''
                              source_id: Person/2673
                            - id: 1643cdb99c6b1cf4291772d2e1796d2370d8b0f7
                              name: Jeffrey Wright
                              picture: ''
                              source_id: Person/6630
                            - id: 17ebbf7be57aa2e2e24aec2ae878d2ba0e8967f1
                              name: Neal Anthony Rubin
                              picture: ''
                              source_id: Person/416760
                            - id: 21ac18f5da68c46ae5bc3b9799681ecb943d951b
                              name: Gregory Itzin
                              picture: ''
                              source_id: Person/37897
                            - id: 2e30b614ff210b1887ae7769f0df71d359e3821d
                              name: Deb Dixon
                              picture: ''
                              source_id: Person/416759
                            - id: 35785361085b052f35fc2f97bf25146d01bc7695
                              name: Ryan Gosling
                              picture: ''
                              source_id: Person/4662
                            - id: 3a35c47b1f5c2593d596fd5e296a7e5f5fc3e76c
                              name: Philip Seymour Hoffman
                              picture: ''
                              source_id: Person/5076
                            - id: 445628c3591cd949452e78c35da7881e98c4815b
                              name: Robert Mervak
                              picture: ''
                              source_id: Person/416751
                            - id: 486fce3c37477c0ace595e9e9c340d0223c9fcff
                              name: Robert Braun
                              picture: ''
                              source_id: Person/182731
                            - id: 6ac1d2563cf26c22a90fddc01036269fcbd83465
                              name: Fabio Polanco
                              picture: ''
                              source_id: Person/416752
                            - id: 70cb7007bbebf0b88820f3903a949b5fd0c8fecc
                              name: Leslie McCurdy
                              picture: ''
                              source_id: Person/416758
                            - id: 84914894a6f5140df25510791656ef37150873a1
                              name: Peter Harpen
                              picture: ''
                              source_id: Person/416753
                            - id: 9adff3c14686ca3093f2794a00429caa00fd4ea2
                              name: Frank Jones Jr.
                              picture: ''
                              source_id: Person/393907
                            - id: 9f179b419c1cf498a8c43e7b199378c63c9cd4a2
                              name: Michael Ellison
                              picture: ''
                              source_id: Person/158702
                            - id: b841c08ac48469db58d47023fee16a2598e73bb1
                              name: John Manfredi
                              picture: ''
                              source_id: Person/152677
                            - id: c296f88ba451e24daa38017fdfc49ccc72297060
                              name: Evan Rachel Wood
                              picture: ''
                              source_id: Person/2976
                            - id: d275a6002d444fe57abc2559431814dcd5d5ef1c
                              name: Charlie Rose
                              picture: ''
                              source_id: Person/114608
                            - id: d8fcdc5ddd5baf8e652fbc2156c841ecefbe88f6
                              name: Michael Mantell
                              picture: ''
                              source_id: Person/30836
                            - id: de8039a4bf233200a58bf33946ac3c46d432a5ca
                              name: Hayley Meyers
                              picture: ''
                              source_id: Person/416757
                            - id: ded28ce0fb4458d3f178bfbe0b5b2d2d58e8d110
                              name: Lauren Wainwright
                              picture: ''
                              source_id: Person/416755
                            - id: f0d61ad5f7ddf6bc5517727a857778a74716038e
                              name: David McConnell
                              picture: ''
                              source_id: Person/367763
                            - id: f1e604f485bef1cfb04a19c37f87c403afb014ff
                              name: Mark Stacey White
                              picture: ''
                              source_id: Person/416754
                            - id: f2fe70f85dd1ec51e8d3002a47b15b322b0250a7
                              name: Rachel Maddow
                              picture: ''
                              source_id: Person/326500
                            - id: f3f1e156dcaccc0b1153042f9e1dcd569862edc2
                              name: Jennifer Ehle
                              picture: ''
                              source_id: Person/3232
                          channels:
                            - id: 3083de0f10f7f9fa1cfbc0d15dedcab6a323e5f1
                              name: Netflix
                            - id: 5a4d100d79e24bfb882b81dbc4a416c2033a6e4c
                              name: AmazonInstantVideo
                            - id: 6030ca23da015c1117a5dbd4e9812a5c26b8d4bd
                              name: Vudu
                            - id: a2e7ce4563eb32344013e1c66cb9c57c888b1e3a
                              name: GooglePlay
                            - id: bf1e7e22429dd7e692acab82a9f2ccd3288090ce
                              name: iTunes
                            - id: dcd77eacf0b3885552bb93849ee01c5951ed3e8a
                              name: AmazonPrimeVideo
                          description: |-
                            The Ides of March is a 2011 American political drama film directed by George Clooney from a screenplay written by Clooney, along with Grant Heslov and Beau Willimon. The film is an adaptation of Willimon's 2008 play Farragut North. It stars Ryan Gosling, George Clooney, Evan Rachel Wood, Philip Seymour Hoffman, Marisa Tomei, Paul Giamatti, and Jeffrey Wright.
                            The Ides of March was featured as the opening film at the 68th Venice International Film Festival and at the 27th Haifa International Film Festival and was shown at the 2011 Toronto International Film Festival. It received a wide theatrical release on October 7, 2011.
                          description_search:
                            en: |-
                              The Ides of March is a 2011 American political drama film directed by George Clooney from a screenplay written by Clooney, along with Grant Heslov and Beau Willimon. The film is an adaptation of Willimon's 2008 play Farragut North. It stars Ryan Gosling, George Clooney, Evan Rachel Wood, Philip Seymour Hoffman, Marisa Tomei, Paul Giamatti, and Jeffrey Wright.
                              The Ides of March was featured as the opening film at the 68th Venice International Film Festival and at the 27th Haifa International Film Festival and was shown at the 2011 Toronto International Film Festival. It received a wide theatrical release on October 7, 2011.
                            xx-xx: A young staffer for a new presidential candidate gets a lesson on dirty politics on the campaign trail. Based on the play by Beau Willimon.
                          descriptions_all:
                            en:
                              - description: |-
                                  The Ides of March is a 2011 American political drama film directed by George Clooney from a screenplay written by Clooney, along with Grant Heslov and Beau Willimon. The film is an adaptation of Willimon's 2008 play Farragut North. It stars Ryan Gosling, George Clooney, Evan Rachel Wood, Philip Seymour Hoffman, Marisa Tomei, Paul Giamatti, and Jeffrey Wright.
                                  The Ides of March was featured as the opening film at the 68th Venice International Film Festival and at the 27th Haifa International Film Festival and was shown at the 2011 Toronto International Film Festival. It received a wide theatrical release on October 7, 2011.
                                type: description
                              - description: 'Ambition seduces and power corrupts in a nerve-wracking thriller from Academy Award® nominated director George Clooney (Good Night, and Good Luck). Idealistic campaign worker Stephen Meyers (Ryan Gosling) has sworn to give all for Governor Mike Morris (Clooney), a wild card presidential candidate whose groundbreaking ideas could change the political landscape. However, a brutal Ohio primary threatens to test Morris'' integrity. Stephen gets trapped in the down-and-dirty battle and finds himself caught up in a scandal where the only path to survival is to play both sides. The all-star cast includes Philip Seymour Hoffman, Paul Giamatti, Marisa Tomei and Evan Rachel Wood.'
                                type: description
                            xx-XX:
                              - description: A young staffer for a new presidential candidate gets a lesson on dirty politics on the campaign trail. Based on the play by Beau Willimon.
                                type: description
                          directors:
                            - id: 0529fa6bd19c449493659e5d6d3bbdb8ba7ceb07
                              name: George Clooney
                              picture: ''
                              source_id: Person/6060
                          genres:
                            - id: 74d852c40925e32dfc157909f924fe6b30fb1af2
                              name: drama
                              source_id: Drama
                            - id: 915d59e70b863eab459f2b101fc22d9f5cfb9ec4
                              name: thriller
                              source_id: Thriller
                          keywords:
                            - campaign speech
                            - drama
                            - endorsement
                            - ides of march
                            - movie
                            - ohio
                            - politics
                            - presidential campaign
                            - presidential debate
                            - thriller
                          moods: []
                          name: The Ides of March
                          name_search:
                            bg:
                              - маската на властта
                            da:
                              - kamæleonen
                            de:
                              - die iden des märz
                              - the ides of march - tage des verrats
                            el:
                              - ai eidoi tou martiou
                              - αι ειδοί του μαρτίου
                            en:
                              - farragut north
                              - the ides of march
                            es:
                              - los idus de marzo
                              - poder y traición
                              - secretos de estado
                            et:
                              - märtsi iidid
                            fi:
                              - vallan kääntöpuoli
                            fr:
                              - les marches du pouvoir
                            he:
                              - mis'hakei shilton
                            hr:
                              - martovske ide
                            hu:
                              - a hatalom árnyékában
                            it:
                              - le idi di marzo
                            ko:
                              - 킹메이커
                            lt:
                              - purvini zaidimai
                            'no':
                              - maktens menn
                            pl:
                              - idy marcowe
                            pt:
                              - nos idos de março
                              - tudo pelo poder
                            ro:
                              - ziua tradatorilor
                            ru:
                              - мартовские иды
                            sl:
                              - marceve ide
                            sr:
                              - martovske ide
                            sv:
                              - maktens män
                            tr:
                              - zirveye giden yol
                            uk:
                              - березневi iди
                            xx:
                              - les marches du pouvoir
                              - the ides of march
                            zh:
                              - 選戰風雲
                          names_all:
                            bg:
                              - name: Маската на властта
                                type: name
                            da-DK:
                              - name: Kamæleonen
                                type: name
                            de:
                              - name: The Ides of March - Tage des Verrats
                                type: name
                              - name: Die Iden des März
                                type: name
                            el-GR:
                              - name: Αι ειδοί του Μαρτίου
                                type: name
                              - name: Ai eidoi tou Martiou
                                type: name
                            en-US:
                              - name: Farragut North
                                type: name
                              - name: The Ides of March
                                type: name
                            es-AR:
                              - name: Secretos de estado
                                type: name
                            es-CL:
                              - name: Secretos de Estado
                                type: name
                            es-ES:
                              - name: Los idus de marzo
                                type: name
                            es-MX:
                              - name: Poder y traición
                                type: name
                            es-PE:
                              - name: Poder y traición
                                type: name
                            es-UY:
                              - name: Secretos de estado
                                type: name
                            es-VE:
                              - name: Poder y traición
                                type: name
                            et:
                              - name: Märtsi iidid
                                type: name
                            fi-FI:
                              - name: Vallan kääntöpuoli
                                type: name
                            fr-FR:
                              - name: Les marches du pouvoir
                                type: name
                            he:
                              - name: Mis'hakei shilton
                                type: name
                            hr-HR:
                              - name: Martovske ide
                                type: name
                            hu-HU:
                              - name: A hatalom árnyékában
                                type: name
                            it-IT:
                              - name: Le idi di marzo
                                type: name
                            ko-KR:
                              - name: 킹메이커
                                type: name
                            lt:
                              - name: Purvini zaidimai
                                type: name
                            'no':
                              - name: Maktens menn
                                type: name
                            pl:
                              - name: Idy marcowe
                                type: name
                            pt-BR:
                              - name: Tudo pelo Poder
                                type: name
                            pt-PT:
                              - name: Nos Idos de Março
                                type: name
                            ro:
                              - name: Ziua tradatorilor
                                type: name
                            ru:
                              - name: Мартовские иды
                                type: name
                            sl:
                              - name: Marceve ide
                                type: name
                            sr:
                              - name: Martovske ide
                                type: name
                            sv-SE:
                              - name: Maktens män
                                type: name
                            tr-TR:
                              - name: Zirveye Giden Yol
                                type: name
                            uk:
                              - name: Березневi iди
                                type: name
                            xx-XX:
                              - name: The Ides of March
                                type: name
                              - name: The Ides of March
                                type: name
                              - name: Les marches du pouvoir
                                type: name
                            zh-TW:
                              - name: 選戰風雲
                                type: name
                          picture: 'https://utellyassets9-1.imgix.net/api/Images/c921da76e8f53e72d2d8b03a5a8ea3df/Redirect'
                          ratings:
                            iva:
                              number_of_ratings: 1
                              rating: '91.78'
                          updated: '2021-03-27T04:34:20.222563+00:00'
                        - actors:
                            - id: 009601a2a709ccc0477a551edc939713daaadae9
                              name: Atli Óskar Fjalarsson
                              picture: ''
                              source_id: Person/195312
                            - id: 0529fa6bd19c449493659e5d6d3bbdb8ba7ceb07
                              name: George Clooney
                              picture: ''
                              source_id: Person/6060
                            - id: 1247be04cc25034837baa98d6917456f05bb1d79
                              name: Gsus Lopez
                              picture: ''
                              source_id: Person/17331869
                            - id: 1a2f868475b1894ed64ca0e458ecc8d16af50676
                              name: Jill Buchanan
                              picture: ''
                              source_id: Person/291935
                            - id: 2ab936040e59a7da515ab4e8dc1fb1561ba7bafe
                              name: Lilja Nótt Þórarinsdóttir
                              picture: ''
                              source_id: Person/87763
                            - id: 2b271e8686aa1830f1ad7fd9352b23cdab8f1d8e
                              name: Edan Hayhurst
                              picture: ''
                              source_id: Person/790989
                            - id: 3061c92913f69703488be70bce182854c7ea62bd
                              name: Kyle Chandler
                              picture: ''
                              source_id: Person/6590
                            - id: 311f18118e7d96089e2faeea001528c35fecedfd
                              name: Olivia Noyce
                              picture: ''
                              source_id: Person/16045738
                            - id: 33cd594290643e771c3437105f69ea128dfd18fb
                              name: Hanna María Karlsdóttir
                              picture: ''
                              source_id: Person/87759
                            - id: 3890bca2bb5028308974eeb07cd5b8b6248b7cba
                              name: Nick Owenford
                              picture: ''
                              source_id: Person/840172
                            - id: 4c048cbc76b00961802ae0e45b22e0fa228719be
                              name: Miriam Shor
                              picture: ''
                              source_id: Person/9286
                            - id: 5219ac12f7948b47d3e28f9156f5becc2b42bbfd
                              name: Bharat Mistri
                              picture: ''
                              source_id: Person/273976
                            - id: 59354e5b226c68fa338e5dbae84649b21f56146b
                              name: Sarah Guerin
                              picture: ''
                              source_id: Person/1705352
                            - id: 5f076f32001a545f4c829e8be105525da7916298
                              name: Kishore Bhatt
                              picture: ''
                              source_id: Person/794983
                            - id: 66497c1a622a0521232ef41ecc0a06b78a638f61
                              name: Caoilinn Springall
                              picture: ''
                              source_id: Person/11709432
                            - id: 6c24c038efb816fc5aef55cb02506a81bfa64df0
                              name: Tiffany Boone
                              picture: ''
                              source_id: Person/240343
                            - id: 754f98cf682af765d36f5538b04a4a0d24b8d1ed
                              name: Jamie Schneider
                              picture: ''
                              source_id: Person/20392034
                            - id: 9e02449ff8f82586e50974d040a5ea0927dce2a4
                              name: Natasha Jenssen
                              picture: ''
                              source_id: Person/442697
                            - id: a5c7f2a39722814b4a2e121483a40e47df666ff1
                              name: Tim Russ
                              picture: ''
                              source_id: Person/26142
                            - id: a8539478f7fb78fee25ae421621d5272e4ec2243
                              name: Paul Riddell
                              picture: ''
                              source_id: Person/1186331
                            - id: a937fec3ed1d835459ef805d8bf456e8d3ba7a02
                              name: Sophie Rundle
                              picture: ''
                              source_id: Person/298117
                            - id: ace4c824f28704bbbb15a642d3cf4ffab2af3a47
                              name: Demian Bichir
                              picture: ''
                              source_id: Person/21183
                            - id: b68026862314e759da2736d8cabb54d5dd910421
                              name: Jem Hawkes
                              picture: ''
                              source_id: Person/7378975
                            - id: ba5e43a816a9da9ee35a2fb1eeb5394394304173
                              name: Ethan Peck
                              picture: ''
                              source_id: Person/22388
                            - id: cf24a1fdc43ca4fa9e455d70c3b5c993223c2fba
                              name: Tia Bannon
                              picture: ''
                              source_id: Person/877678
                            - id: f3ceb95f6fa87443c9ef632e1e79c1bd082908a0
                              name: Grant Crookes
                              picture: ''
                              source_id: Person/821079
                            - id: fcd24b43f9a43e66a89f5c5e15c35e63be6fecc7
                              name: Felicity Jones
                              picture: ''
                              source_id: Person/4149
                            - id: fec25406ffc8bd5de0b6de1b91c6489ca84493f4
                              name: David Oyelowo
                              picture: ''
                              source_id: Person/2356
                            - id: ff28c27417cab5752f86e3a18c16d4cd6395bd9c
                              name: Eysis Clacken
                              picture: ''
                              source_id: Person/20380091
                          channels:
                            - id: 3083de0f10f7f9fa1cfbc0d15dedcab6a323e5f1
                              name: Netflix
                          description: 'In the aftermath of a global catastrophe, a lone scientist in the Arctic races to contact a crew of astronauts with a warning not to return to Earth.'
                          description_search:
                            en: 'In the aftermath of a global catastrophe, a lone scientist in the Arctic races to contact a crew of astronauts with a warning not to return to Earth.'
                          descriptions_all:
                            en:
                              - description: 'In the aftermath of a global catastrophe, a lone scientist in the Arctic races to contact a crew of astronauts with a warning not to return to Earth.'
                                type: description
                          directors:
                            - id: 0529fa6bd19c449493659e5d6d3bbdb8ba7ceb07
                              name: George Clooney
                              picture: ''
                              source_id: Person/6060
                          genres:
                            - id: 6edc518aa17bb5fcda1f068038df6d62eb2de340
                              name: sci-fi
                              source_id: Sci-Fi
                            - id: 74d852c40925e32dfc157909f924fe6b30fb1af2
                              name: drama
                              source_id: Drama
                            - id: 915d59e70b863eab459f2b101fc22d9f5cfb9ec4
                              name: thriller
                              source_id: Thriller
                            - id: 972060f881a85f37db1cb3e3ebb9b1c18c1e3081
                              name: fantasy
                              source_id: Fantasy
                          keywords:
                            - astronaut
                            - catastrophe
                            - drama
                            - end of the world
                            - fantasy
                            - home
                            - movie
                            - race
                            - scientist
                            - sci-fi
                            - space travel
                            - star
                            - thriller
                          moods: []
                          name: The Midnight Sky
                          name_search:
                            cs:
                              - půlnoční nebe
                            da:
                              - the midnight sky
                            de:
                              - the midnight sky
                            el:
                              - ο ουρανός του μεσονυχτίου
                            en:
                              - aether
                              - 'good morning, midnight'
                              - the midnight sky
                            es:
                              - cielo de medianoche
                            fr:
                              - minuit dans l'univers
                            hu:
                              - az éjféli égbolt
                            it:
                              - the midnight sky
                            ja:
                              - ミッドナイト・スカイ
                            pl:
                              - niebo o północy
                            pt:
                              - o céu da meia-noite
                            ro:
                              - cerul de la miezul nopții
                            ru:
                              - полночное небо
                            sk:
                              - polnočné nebo
                            tr:
                              - gece yarısı gökyüzü
                            uk:
                              - опівнічне небо
                            vi:
                              - lấp lánh trời đêm
                            xx:
                              - 'good morning, midnight'
                              - minuit dans l'univers
                              - the midnight sky
                            zh:
                              - 早安，午夜
                              - 永夜漂流
                          names_all:
                            cs:
                              - name: Půlnoční nebe
                                type: name
                            da-DK:
                              - name: The Midnight Sky
            